/*
	File: create-page.css
	Path: src/main/resources/static/create-page.css
	Author: Chia-Yu(Joyce) Chang
	Created: 2024-04-23
	Last Modified: 2024-05-06
	Description: This file contains the CSS styles for all Hotel Management System's creating page
*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Trebuchet MS", Tahoma, sans-serif;
}

section {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
	background: url("images/hotel2.jpeg") no-repeat;
	background-size: cover;
	background-position: center;
}

.create {
	position: relative;
	width: 600px;
	height: 500px;
	background: white;
	border: 2px solid rgba(255,255,255,.5);
	border-radius: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	backdrop-filter: blur(15px);
	margin-top: 20px;
	text-align: center;
}

h1 {
	font-size: 2em;
	Color: black;
	text-align: center;
	margin-bottom: 40px;
}

label {
	display: inline-block;
	width: 150px;
	text-align: left;
	margin-bottom: 30px;
}

.info-value {
	display: inline-block;
	text-align: left;
	font-size: 14px;
	background-color: #f0f0f0;
}

button {
	width: 60%;
	height: 40px;
	background: deepskyblue;
	border: none;
	outline: none;
	border-radius: 40px;
	cursor: pointer;
	font-size: 1em;
	color: black;
	font-weight: 500;
	align-items: center;
}

button:hover {
	background-color: skyblue;
}

input, select, .info-value {
	margin-bottom: 20px;
	width: 300px;
	height: 40px;
	padding: 10px;
	border-radius: 8px;
	border: 1px solid #ccc;
}

.input-field.error-field:not(:empty) {
    margin-bottom: 5px;
}

/*
	For hint
*/

.hint {
	font-size: 0.8em;
	color: #666;
	margin-bottom: 10px;
}

.hint a {
	color: #666;
}

/*
	For go back button
*/

.goback-button {
	position: absolute;
	top: 10px;
	left: 10px;
	padding: 10px;
	background-color: #ccc;
	color: #333;
	text-decoration: none;
	border-radius: 5px;
}

.goback-button:hover {
	background-color: #aaa;
}

/*
	For error message
*/

.error {
	color: red;
	display: block;
	font-size: 14px;
	margin-top: 5px;
}