/*
	File: main-page.css
	Path: src/main/resources/static/main-page.css
	Author: Chia-Yu(Joyce) Chang
	Created: 2024-03-28
	Last Modified: 2024-04-14
	Description: This file contains the CSS styles for the Hotel Management System's main page (main.html)
	             and all management pages
*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Trebuchet MS", Tahoma, sans-serif;
}

body {
	min-height: 100vh;
	background: url("images/hotel2.jpeg") no-repeat;
	background-size: cover;
	background-position: center;
	display: grid;
    grid-template-columns: 290px auto;
    overflow: hidden;
}

/*
	For side bar
*/

.sidebar {
	position: absolute;
	top: 0;
	left: 0;
	width: 290px;
	height: 100%;
	background: transparent;
	backdrop-filter: blur(40px);
}

.sidebar .title-menu {
	display: flex;
	align-items: center;
	width: 100%;
	height: 80px;
	background: deepskyblue;
}

.sidebar .title-menu .title {
	font-size: 20px;
	color: white;
	pointer-events: none;
	padding-left: 45px;
}

.sidebar .title-menu .button {
	position: absolute;
	width: 40px;
	height: 40px;
	font-size: 20px;
	color: white;
	text-align: center;
	line-height: 40px;
}

.sidebar .list {
	margin-top: 5px;
}

.sidebar .list .category.logout {
    position: absolute;
    bottom: 10px;
    width: 100%;
}

.list .category {
	list-style: none;
	width: 100%;
	height: 70px;
	margin: 3px 0;
	line-height: 70px;
	padding: 6px 8px;
}

.list .category a {
	display: flex;
	align-items: center;
	font-size: 18px;
	color: white;
	text-decoration: none;
	border-radius: 6px;
	transition: .5s;
}

.list .category.active a,
.list .category a:hover {
	background: rgba(255, 255, 255, .2);	
}

.list .category a i {
	min-width: 50px;
	height: 50px;
	text-align: center;
	line-height: 50px;
}

/*
	cards and tables
*/

.container {
	grid-column: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

/*
	For cards
*/

.stat-card {
	position: relative;
	width: 85%;	
	max-width: 1200px;
    margin: 20px auto 30px;
    border-radius: .8rem;
    display: grid;
    gap: 20px;
    height: 10vh;
}

.stat-card-1 {
	width: 35%;
    grid-template-columns: repeat(1, 1fr);
}

.stat-card-3 {
    grid-template-columns: repeat(3, 1fr);
}

.stat-card-4 {
    grid-template-columns: repeat(4, 1fr);
}

.stat-card-5 {
    grid-template-columns: repeat(5, 1fr);
}

.stat-card .card {
	position: relative;
	background: #f9f9f9;
	padding: 30px;
	border-radius: 20px;
	display: flex;
	justify-content: space-between;
	box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
}

.stat-card .card .stats {
	position: relative;
	font-weight: 300;
	font-size: 1.5rem;
	color: blue;
}

.stat-card .card .card-name {
	font-size: 1.0rem;
	color: black;
	margin-top: 5px;
}

.stat-card .card .card-icon {
	font-size: 2.5rem;
	color: black;
}

/*
	For all management pages' tables
*/

.main {
	flex: 1;
	display: flex;
    justify-content: center;
    align-items: center; 
}

.table {
    width: 85%;
    margin: 30px auto 20px;
    height: calc(100% - 130px);
    background-color: #fff5;
    backdrop-filter: blur(7px);
    box-shadow: 0 .4rem .8rem #0005;
    border-radius: .8rem;
    overflow: hidden;
    flex: 1;
}

.table th, .table td {
    border-collapse: collapse;
    padding: 1rem;
    text-align: left;
    white-space: nowrap;
    overflow: auto;
}

.table_header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 10%;
	background-color: #fff4;
	padding: .8rem 1rem;
	padding-top: 20px;
}

button {
	outline: none;
	border: none;
	border-radius: 6px;
	cursor: pointer;
}

.create {
	padding: 10px 20px;
	font-size: 1rem;
	color: black;
	background-color: limegreen;
	margin-right: 20px;
}

.create:hover {
    background-color: lightgreen;
}

input {
	padding: 10px 20px;
	margin: 0 10px;	
	outline: none;
	border: 1px solid black;
	border-radius: 6px;
	color: black;
}

.table_body {
	width: 95%;
	max-height: calc(90% - 1.6rem);
	background-color: #fffb;
	margin: .8rem auto;
	border-radius: .6rem;
	overflow: auto;
}

.table_body::-webkit-scrollbar {
	width: 0.5rem;
	height: 0.5rem;
}

.table_body::-webkit-scrollbar-thumb {
	border-radius: .5rem;
	background-color: #0004;
	visibility: hidden;
}

.table_body:hover::-webkit-scrollbar-thumb {
	visibility: visible;
}

.table th, td {
	border-collapse: collapse;
	padding: 1rem;
	text-align: left;
}

.table th {
	position: sticky;
	top: 0;
	left: 0;
	background-color: #B3E5FC;	
}

.table tbody .row {
    line-height: 10px;
}

.table tbody .row:nth-child(even) {
	background-color: #F5F5F5;
}

.table tbody .row:hover {
	background-color: #fff6;
}

.action-btn:hover, .action-btn:active {
	background: #cccccc;	
}

.edit-btn {
	display: inline-flex;
	align-items: center;
	gap: 6px;
	font-size: 1rem;
	border: none;
	outline: none;
	border-radius: 4px;
	background-color: dodgerblue;
	color: white;
	padding: 6px 12px;
	cursor: pointer;
}

.edit-btn:hover {
    background-color: skyblue;
}

.delete-btn {
	display: inline-flex;
	align-items: center;
	gap: 6px;
	font-size: 1rem;
	border: none;
	outline: none;
	border-radius: 4px;
	background-color: pink;
	color: black;
	padding: 6px 12px;
	cursor: pointer;
}

/*
	For reservation/billing/customer tables "payment status" background color & color
*/

.status {
	padding: .4rem 0;
	border-radius: 4px;
	text-align: center;
}

.status.paid {
	background-color: #86E49D;
	color: #006B21;
}

.status.overdue {
	background-color: #D893A3;
	color: #B30021;
}

.status.unpaid {
	background-color: #EBC473;
}

/*
	For room/housekeeping tables "cleaning status" background color & color
*/

.status.prepared {
	background-color: #86E49D;
	color: #006B21;
}

.status.unprepared {
	background-color: #D893A3;
	color: #B30021;
}

/*
	For room table "availability" color
*/

.icon-true {
	color: green;
	font-size: 35px;
    font-weight: bold;
}

.icon-false {
	color: red;
	font-size: 35px;
    font-weight: bold;
}