<!--
	File: billing.html
	Path: src/main/resources/templates/billing.html
	Author: Chia-Yu(Joyce) Chang
	Created: 2024-03-28
	Last Modified: 2024-04-29
	Description: This HTML file represents the billing page of the hotel management system,
	             which facilitates the management of billings, allowing users to add, delete, and modify billings.
-->

<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	
<head>
	<title>Hotel Management Main Page with Sidebar Menu</title>
	<link rel="stylesheet" href="/main-page.css">
	<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
	<nav class="sidebar">
		<div class="title-menu">
			<h2 class="title">LuxuRest.com</h2>
			<i class='bx bx-menu button'></i>
		</div>
		
		<ul class="list">
			<li class="category">
				<a href="room">
					<i class='bx bxs-hotel' ></i>
					<span class="link-name">Room Management</span>
				</a>
			</li>
			<li class="category">
				<a href="customer">
					<i class='bx bxs-user-detail' ></i>
					<span class="link-name">Customer Management</span>
				</a>
			</li>
			<li class="category">
				<a href="reservation">
					<i class='bx bx-calendar-check' ></i>
					<span class="link-name">Reservation Management</span>
				</a>
			</li>
			<li class="category">
				<a href="billing">
					<i class='bx bx-dollar-circle'></i>
					<span class="link-name">Billing Management</span>
				</a>
			</li>
			<li class="category">
				<a href="housekeeping">
					<i class='bx bxs-brush-alt'></i>
					<span class="link-name">Housekeeping Management</span>
				</a>
			</li>
			<li class="category">
				<a href="visualreport">
					<i class='bx bxs-report'></i>
					<span class="link-name">Visual Report</span>
				</a>
			</li>
			<li class="category logout">
            	<a href="logout">
                	<i class='bx bx-log-out'></i>
                	<span class="link-name">Log Out</span>
            	</a>
        	</li>
		</ul>
		
	</nav>
	
	<div class="container">
		<!-- below is cards for statistic-->
		<div class="stat-card stat-card-4">
			<div class="card">
				<div>
					<div class="stats">22</div>
					<div class="card-name"># of Billings</div>
				</div>
				<div class="card-icon">
					<i class='bx bx-calendar-week'></i>
				</div>
			</div>
			<div class="card">
				<div>
					<div class="stats">10</div>
					<div class="card-name">Paid</div>
				</div>
				<div class="card-icon">
					<i class='bx bx-check-circle' ></i>
				</div>
			</div>
			<div class="card">
				<div>
					<div class="stats">5</div>
					<div class="card-name">Unpaid</div>
				</div>
				<div class="card-icon">
					<i class='bx bx-time'></i>
				</div>
			</div>
			<div class="card">
				<div>
					<div class="stats">7</div>
					<div class="card-name">Overdue</div>
				</div>
				<div class="card-icon">
					<i class='bx bx-alarm-exclamation'></i>
				</div>
			</div>
		</div>


		<!-- below is the table structure-->
		<main class="table">
			<section class="table_header">
				<h1>Billings</h1>
				<div>
					<input placeholder="customer">
					<button class="create">+ Create</button>
				</div>
			</section>
			<section class="table_body">
				<table>
					<thead>
						<tr>
							<th>id</th>
							<th>Customer Name</th>
							<th>Check-in Date</th>
							<th>Check-out Date</th>
							<th>Amount</th>
							<th>Payment Status</th>
							<th>Action</th>						
						</tr>
					</thead>
					<tbody>
						<tr th:each="billing: ${billings}" class="row">
							<td th:text="${billing.billingId}"></td>
							<td th:text="${billing.customerName}"></td>
							<td th:text="${billing.checkInDate}"></td>
							<td th:text="${billing.checkOutDate}"></td>
							<td><strong th:text="${billing.amount}"></strong></td>
							<td>
								<p th:class="${billing.paymentStatus == 'Overdue' ? 'status overdue' :
             								billing.paymentStatus == 'Paid' ? 'status paid' :
             								billing.paymentStatus == 'Unpaid' ? 'status unpaid' : ''}">
             						<span th:text="${billing.paymentStatus == 'Overdue' ? 'Overdue' :
                      							billing.paymentStatus == 'Paid' ? 'Paid' :
                      							billing.paymentStatus == 'Unpaid' ? 'Unpaid' : ''}"></span>
             					</p>
							</td>
							<td>
								<button class="action-btn edit-btn"><i class='bx bxs-edit'></i>Edit</button>
	                			<button class="action-btn delete-btn"><i class='bx bxs-trash' ></i>Delete</button>
							</td>
						</tr>
					</tbody>
				</table>
			</section>
		</main>
	</div>
</body>

</html>