<!--
	File: customer.html
	Path: src/main/resources/templates/customer.html
	Author: Chia-Yu(Joyce) Chang
	Created: 2024-03-28
	Last Modified: 2024-04-27
	Description: This HTML file represents the customer page of the hotel management system,
	             which facilitates the management of customers, allowing users to add, delete, and modify customers.
-->

<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	
<head>
	<title>Hotel Management Main Page with Sidebar Menu</title>
	<link rel="stylesheet" href="/main-page.css">
	<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
	<nav class="sidebar">
		<div class="title-menu">
			<h2 class="title">LuxuRest.com</h2>
			<i class='bx bx-menu button'></i>
		</div>
		
		<ul class="list">
			<li class="category">
				<a href="room">
					<i class='bx bxs-hotel' ></i>
					<span class="link-name">Room Management</span>
				</a>
			</li>
			<li class="category">
				<a href="customer">
					<i class='bx bxs-user-detail' ></i>
					<span class="link-name">Customer Management</span>
				</a>
			</li>
			<li class="category">
				<a href="reservation">
					<i class='bx bx-calendar-check' ></i>
					<span class="link-name">Reservation Management</span>
				</a>
			</li>
			<li class="category">
				<a href="billing">
					<i class='bx bx-dollar-circle'></i>
					<span class="link-name">Billing Management</span>
				</a>
			</li>
			<li class="category">
				<a href="visualreport">
					<i class='bx bxs-report'></i>
					<span class="link-name">Visual Report</span>
				</a>
			</li>
			<li class="category logout">
				<a href="logout">
					<i class='bx bx-log-out'></i>
					<span class="link-name">Log Out</span>
				</a>
			</li>
		</ul>		
	</nav>
	
	<div class="container">
		<!-- below is cards for statistic-->
		<div class="stat-card stat-card-1">
			<div class="card">
				<div>
					<div class="stats">12</div>
					<div class="card-name"># of Customers</div>
				</div>
				<div class="card-icon">
					<i class='bx bxs-face'></i>
				</div>
			</div>
		</div>

		<!-- below is the table structure-->
		<main class="table">
			<section class="table_header">
				<h1>Customers</h1>
				<div>
					<input placeholder="customer">
					<button class="create">+ Create</button>
				</div>
			</section>
			<section class="table_body">
				<table>
					<thead>
						<tr>
							<th>id</th>
							<th>Customer Name</th>
							<th>Email</th>
							<th>Phone Number</th>
							<th># of Reservations</th>
							<th>Overall Payment Status</th>
							<th>Action</th>						
						</tr>
					</thead>
					<tbody>
						<tr th:each="customer: ${customers}" class="row">
							<td th:text="${customer.customerId}"></td>
							<td th:text="${customer.customerName}"></td>
							<td th:text="${customer.customerEmail}"></td>
							<td th:text="${customer.customerPhoneNumber}"></td>
							<td th:text="${customer.numOfReservations}"></td>
							<td>
								<p th:class="${customer.overallPaymentStatus == 'Overdue' ? 'status overdue' :
             								customer.overallPaymentStatus == 'Paid' ? 'status paid' :
             								customer.overallPaymentStatus == 'Unpaid' ? 'status unpaid' : ''}">
									<span th:text="${customer.overallPaymentStatus == 'Overdue' ? 'Overdue' :
                      							customer.overallPaymentStatus == 'Paid' ? 'Paid' :
                      							customer.overallPaymentStatus == 'Unpaid' ? 'Unpaid' : ''}"></span>
								</p>
							</td>
							<td>
								<button class="action-btn edit-btn"><i class='bx bxs-edit'></i>Edit</button>
								<button class="action-btn delete-btn"><i class='bx bxs-trash' ></i>Delete</button>
							</td>
						</tr>
					</tbody>
				</table>
			</section>
		</main>
	</div>
</body>

</html>