<!--
	File: new-customer.html
	Path: src/main/resources/templates/new-customer.html
	Author: Chia-Yu(Joyce) Chang
	Created: 2024-05-04
	Last Modified: 2024-05-04
	Description: This HTML file represents the creating page of the customer system,
	             which facilitates the management of customers, allowing users to create customers.
-->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	
<head>
	<meta charset="UTF-8">
	<title>New Customer</title>
	<link rel="stylesheet" href="/create-page.css">
	<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
	<section>
		<div class="create">
			<!-- Go back to the prev page-->
			<a href="javascript:history.go(-1)" class="goback-button">
    			<i class="bx bx-arrow-back"></i> Go Back
			</a>
			<form action="/customer/save" method="post">
				<h1>New Customer</h1>
				
				<label for="customerName">Customer Name:</label>
				<input type="text" id="customerName" name="customerName" th:value="${customer.customerName}">
				<span class="error" th:if="${#fields.hasErrors('customerName')}" th:errors="*{customerName}"></span><br>
	
				<label for="customerEmail">Email:</label>
				<input type="text" id="customerEmail" name="customerEmail" th:value="${customer.customerEmail}">
				<span class="error" th:if="${#fields.hasErrors('customerEmail')}" th:errors="*{customerEmail}"></span><br>
	
				<label for="customerPhoneNumber">Phone Number:</label>
				<input type="text" id="customerPhoneNumber" name="customerPhoneNumber" th:value="${customer.customerPhoneNumber}">
				<span class="error" th:if="${#fields.hasErrors('customerPhoneNumber')}" th:errors="*{customerPhoneNumber}"></span><br>
				
				<button type="submit">Submit</button>
			</form>
		</div>
	</section>
</body>
</html>